# These are the required packages for the solowPy package to build
Sphinx
ipython
numpy
numpydoc
scipy
matplotlib
sympy
pandas
quantecon

# quantecon has numba dependency
numba

# numba has the following additional dependencies
# llvmlite
# enum34
# funcsigs